set completion-ignore-case on
set bell-style none
set visible-stats on
set editing-mode vi

"\C-p":history-search-backward
"\C-n":history-search-forward
"\e[A":history-search-backward
"\e[B":history-search-forward
"jj": vi-movement-mode

$if Bash
    space: magic-space
    "\C-x\C-p": " | percol"
    "\C-^": "~/"
$endif
